<div class="row">
  <div class="col-12">
    <!--Hotel detail start-->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Add New Restaurant</h5>
          </div>
          <div class="card-body">
            <form class="theme-form mega-form">
              @for (details of restaurant; track details) {
                <div class="mb-3">
                  <label class="form-label-title">Restaurant Name</label>
                  <input class="form-control" type="text" placeholder="Restaurant Name" />
                </div>
                <div class="mb-3">
                  <label for="type-of-restaurant" class="form-label-title"
                    >Type of Restaurant</label
                  >
                  <select
                    id="type-of-restaurant"
                    class="form-control js-example-basic-single col-sm-12"
                  >
                    @for (type of details.restaurantType; track type) {
                      <option value="{{ type.value }}">{{ type.title }}</option>
                    }
                  </select>
                </div>
                <div class="row g-3 custom-restaurant-card">
                  <label class="form-label-title mt-3">Facility Restaurant</label>
                  @for (facility of details.restaurantFacility; track facility) {
                    @for (details of facility.data; track details) {
                      <div class="mt-0 col-xs-12 col-md-6">
                        <label class="d-block" for="{{ details.value }}">
                          <input
                            class="checkbox_animated"
                            id="{{ details.value }}"
                            type="checkbox"
                            [checked]="details.checked"
                          />{{ details.title }}
                        </label>
                      </div>
                    }
                  }
                </div>
                <div class="mb-3 mt-3">
                  <label class="form-label-title">Address</label>
                  <input type="text" placeholder="Address" class="form-control" />
                </div>
                <div class="row g-3">
                  <div class="col-sm-6">
                    <select class="select form-control">
                      <option disabled selected value="">Country</option>
                      @for (country of details.country; track country) {
                        <option value="{{ country.value }}">{{ country.title }}</option>
                      }
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <select class="select form-control">
                      <option disabled selected value="">State</option>
                      @for (state of details.state; track state) {
                        <option value="{{ state.value }}">{{ state.title }}</option>
                      }
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <select class="select form-control">
                      <option disabled selected value="">City</option>
                      @for (city of details.city; track city) {
                        <option value="{{ city.value }}">{{ city.title }}</option>
                      }
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" placeholder="Zip" id="form3Example3" class="form-control" />
                  </div>
                </div>
                <div class="mb-3 mt-3">
                  <label class="form-label-title">Contact Number</label>
                  <input class="form-control" type="Number" placeholder="Contact Number" />
                </div>
                <div class="mb-3">
                  <label class="form-label-title"> Email Address</label>
                  <input class="form-control" type="email" placeholder=" Email address" />
                </div>
                <div class="row">
                  <div class="col-6">
                    <label class="form-label-title">Opening</label>
                    <div class="input-group date" id="Opening" data-target-input="nearest">
                      <input
                        class="form-control datetimepicker-input digits"
                        placeholder="8:49 AM"
                        [owlDateTime]="opening"
                      />
                      <div class="input-group-text" [owlDateTimeTrigger]="opening">
                        <i class="fa fa-clock-o"></i>
                      </div>
                      <owl-date-time [pickerType]="'timer'" #opening />
                    </div>
                  </div>

                  <div class="col-6">
                    <label class="form-label-title">Closing</label>
                    <div class="input-group date" id="Closing" data-target-input="nearest">
                      <input
                        class="form-control datetimepicker-input digits"
                        placeholder="8:49 AM"
                        [owlDateTime]="closing"
                      />
                      <div class="input-group-text" [owlDateTimeTrigger]="closing">
                        <i class="fa fa-clock-o"></i>
                      </div>
                      <owl-date-time [pickerType]="'timer'" #closing />
                    </div>
                  </div>
                </div>
                <div class="mb-3 mt-3">
                  <label class="form-label-title">Upload Restaurant Image here </label>
                  <dropzone
                    [config]="config"
                    [message]="text"
                    (error)="onUploadError($event)"
                    (success)="onUploadSuccess($event)"
                    class="custom-dropzone"
                  />
                </div>
              }
            </form>
          </div>
          <div class="card-footer text-end">
            <button class="btn btn-primary me-3">Submit</button>
            <button class="btn btn-outline-primary">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <!--Hotel detail end-->
  </div>
</div>
