<div class="header-wrapper row m-0">
  <div class="header-logo-wrapper col-auto p-0">
    <div class="logo-wrapper">
      <a href="javascript:void(0)">
        <img class="img-fluid main-logo" src="assets/images/logo/logo.png" alt="logo" />
        <img class="img-fluid white-logo" src="assets/images/logo/logo-white.png" alt="logo"
      /></a>
    </div>
    <div class="toggle-sidebar" (click)="toggleSidebar()">
      <app-feather-icons [icon]="'align-center'" [class]="'status_toggle middle sidebar-toggle'" />
    </div>
  </div>
  <form class="form-inline search-full col" [class.open]="isSearch" method="get">
    <div class="form-group w-100">
      <div class="Typeahead Typeahead--twitterUsers">
        <div class="u-posRelative">
          <input
            class="demo-input Typeahead-input form-control-plaintext w-100"
            type="text"
            placeholder="Search Rica .."
            [(ngModel)]="text"
            name="editorContent"
            (keyup)="searchTerm(text)"
          />
          <app-feather-icons [icon]="'x'" [class]="'close-search'" (click)="closeSearch()" />
          <div class="spinner-border Typeahead-spinner" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        @if (menuItems.length) {
          <div
            class="Typeahead-menu custom-scrollbar"
            [class.is-open]="searchResult"
            id="search-outer"
            (clickOutside)="clickOutside()"
          >
            @for (menuItem of menuItems | slice: 0 : 8; track menuItem) {
              <div class="ProfileCard u-cf">
                <div class="ProfileCard-avatar"></div>
                <div class="ProfileCard-details">
                  <div class="ProfileCard-realName">
                    <app-feather-icons [icon]="menuItem.icon" />
                    <a [routerLink]="menuItem?.path" class="realname" (click)="removeFix()">{{
                      menuItem?.title
                    }}</a>
                  </div>
                </div>
              </div>
            }
          </div>
        } @else {
          <div
            class="Typeahead-menu"
            [class.is-open]="searchResultEmpty"
            (clickOutside)="clickOutside()"
          >
            <div class="tt-dataset tt-dataset-0">
              <div class="EmptyMessage" style="color: black">Oops!! There are no result found.</div>
            </div>
          </div>
        }
      </div>
    </div>
  </form>

  <div class="nav-right col-4 pull-right right-header p-0">
    <ul class="nav-menus">
      <li>
        <span class="header-search" (click)="openSearch()">
          <app-feather-icons [icon]="'search'" />
        </span>
      </li>
      <li>
        <app-notification />
      </li>
      <li>
        <app-theme-mode />
      </li>
      <li class="onhover-dropdown">
        <app-message-box />
      </li>
      <li class="maximize">
        <app-full-screen />
      </li>
      <li class="profile-nav onhover-dropdown pe-0 me-0">
        <app-user-profile />
      </li>
    </ul>
  </div>
</div>
