@for (items of restaurantOrders(); track items) {
  <div id="{{ items.value }}" class="order-section" [class.top-section]="items.children">
    @if (items.children) {
      <h4>{{ items.title }}</h4>
      @for (subItem of items.children; track subItem) {
        <div id="{{ subItem.value }}" class="order-section">
          <div class="order-title">
            <h5>{{ subItem.title }}</h5>
            @if (subItem.totalItems) {
              <h6>{{ subItem.totalItems }} items</h6>
            }
          </div>
          <div class="order-items">
            @for (menu of subItem.items; track menu) {
              <div
                class="items"
                [class]="{ veg: menu.mealType === 'veg', 'non-veg': menu.mealType === 'non-veg' }"
              >
                <h6>{{ menu.title }}</h6>
                <p>{{ menu.description }}</p>
                <h5>${{ menu.price | number: '1.2-2' }}</h5>
              </div>
            }
          </div>
        </div>
      }
    } @else {
      <div class="order-title">
        <h5>{{ items.title }}</h5>
        <h6>{{ items.totalItems }} items</h6>
      </div>
      <div class="order-items">
        @for (menu of items.items; track menu) {
          <div
            class="items"
            [class]="{ veg: menu.mealType === 'veg', 'non-veg': menu.mealType === 'non-veg' }"
          >
            <h6>{{ menu.title }}</h6>
            <p>{{ menu.description }}</p>
            <h5>{{ menu.price }}</h5>
          </div>
        }
      </div>
    }
  </div>
}
