<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header card-header--2 package-card">
        <div>
          <h5>Package's Details</h5>
        </div>
        <form class="d-inline-flex">
          <button class="btn align-items-center btn-theme me-3">
            <i class="fa fa-pencil-square-o me-2"></i>Edit
          </button>
          <button class="btn align-items-center d-flex btn-outline">
            <i class="fa fa-trash-o me-2"></i>Delete
          </button>
        </form>
      </div>
      <div class="card-body">
        <section class="single-section small-section bg-inner">
          <div class="row">
            <div class="col-12">
              <div class="description-section tab-section">
                <div class="detail-img">
                  <img
                    src="assets/images/tours/spain.jpg"
                    class="img-fluid blur-up lazyload"
                    alt="destination-image"
                  />
                </div>
                <div class="menu-top menu-up">
                  <app-tour-tab (tabValue)="getTabValue($event)" />
                </div>
                <div class="description-details tab-content" id="top-tabContent">
                  <div
                    class="menu-part tab-pane fade show active"
                    id="highlight"
                    [class.about]="activeTab === 'highlight' || activeTab === 'policy'"
                    [class.accordion]="activeTab === 'itinerary'"
                    [class.map]="activeTab === 'location'"
                    [class.review]="activeTab === 'reviews'"
                  >
                    @if (tourDetail) {
                      @for (details of tourDetail.tourDetail; track details) {
                        @if (activeTab === 'highlight' && details.highlight) {
                          <app-tour-highlight [highlights]="details.highlight" />
                        }
                        @if (activeTab === 'itinerary' && details.itinerary) {
                          <app-tour-itinerary [itinerary]="details.itinerary" />
                        }
                        @if (activeTab === 'gallery' && details.gallery) {
                          <app-tour-gallery [gallery]="details.gallery" />
                        }
                        @if (activeTab === 'accommodations' && details.accommodation) {
                          <app-tour-accommodation [accommodations]="details.accommodation" />
                        }
                        @if (activeTab === 'location' && details.location) {
                          <app-tour-location [location]="details.location" />
                        }
                        @if (activeTab === 'reviews' && details.review) {
                          <app-tour-reviews [review]="details.review" />
                        }
                        @if (activeTab === 'policy' && details.policy) {
                          <app-tour-policy [policy]="details.policy" />
                        }
                      }
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
