<div class="row">
  @for (data of topCommonData; track data) {
    <div class="col-sm-6 col-xxl-3 col-lg-6">
      <app-top-common-data [data]="data" />
    </div>
  }
  <div class="col-xl-4">
    <app-dashboard-visitor-chart />
  </div>
  <div class="col-xl-8">
    <app-dashboard-earning-chart />
  </div>
  <div class="col-xxl-8">
    <app-dashboard-booking-history />
  </div>
  <div class="col-lg-6 col-xxl-4">
    <div class="card">
      <div class="card-body">
        <div class="datepicker-dashboard">
          <div class="datepicker-here" data-language="en">
            <ngb-datepicker />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <app-dashboard-traffic-chart />
  </div>
  <div class="col-xxl-6">
    <app-dashboard-world-map />
  </div>
  <div class="col-12">
    <app-dashboard-tours />
  </div>
</div>
