<div class="card o-hidden">
  <div class="card-header">
    <div class="card-header-title">
      <h5>Earning</h5>
    </div>
    <div class="card-body p-0">
      <div id="bar-chart-earning">
        <apx-chart
          [series]="dashboardEarningChart.series"
          [colors]="dashboardEarningChart.colors"
          [chart]="dashboardEarningChart.chart"
          [plotOptions]="dashboardEarningChart.plotOptions"
          [dataLabels]="dashboardEarningChart.dataLabels"
          [stroke]="dashboardEarningChart.stroke"
          [xaxis]="dashboardEarningChart.xaxis"
          [yaxis]="dashboardEarningChart.yaxis"
          [legend]="dashboardEarningChart.legend"
          [fill]="dashboardEarningChart.fill"
          [responsive]="dashboardEarningChart.responsive"
        />
      </div>
    </div>
  </div>
</div>
