<div class="card-header">
  <h5>Chnage Email</h5>
</div>
<div class="card-body">
  <form class="theme-form mega-form">
    <div class="mb-3">
      <label class="form-label-title"> Current Email</label>
      <input class="form-control" type="email" placeholder=" Current Email Address" />
    </div>
    <div class="mb-3">
      <label class="form-label-title"> New Email</label>
      <input class="form-control" type="email" placeholder="New Email address" />
    </div>
    <div class="mb-3">
      <label class="form-label-title"> New Email Again</label>
      <input class="form-control" type="email" placeholder="New Again Email address" />
    </div>
    <button class="btn btn-primary">Change Email</button>
  </form>
</div>
