<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header card-header--2">
        <h5>All Bookings</h5>
      </div>
      <div class="card-body">
        <div>
          <div class="table-responsive table-desi">
            <table class="Booking-table table table-striped">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Title</th>
                  <th>Price</th>
                  <th>Order Date</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                @for (details of booking; track details) {
                  <tr>
                    <td><i class="fa fa-{{ details.bookingType }}"> </i></td>
                    <td>
                      <a href="javascript:void(0)"
                        ><span class="d-block">{{ details.bookingTitle }}</span></a
                      >
                    </td>
                    <td>${{ details.price }}</td>
                    <td>{{ details.date }}</td>
                    <td>
                      <span class="status status--{{ details.badgeColor }}">{{
                        details.status
                      }}</span>
                    </td>
                    <td>
                      <div data-bs-toggle="tooltip" data-bs-placement="left" title="cancel">
                        <app-feather-icons [icon]="'x'" />
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="pagination-box">
        <app-pagination />
      </div>
    </div>
  </div>
</div>
