@if (addHotelDetails) {
  @for (details of addHotelDetails; track details) {
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-sm-12">
            <!--Hotel detail start-->
            <div class="card">
              <div class="card-header">
                <h5>Add New Hotel</h5>
              </div>
              <div class="card-body">
                <form class="theme-form mega-form">
                  <div class="mb-3">
                    <label class="form-label-title">Hotel Name</label>
                    <input class="form-control" type="text" placeholder="Hotel Name" />
                  </div>

                  <div class="mb-3">
                    <label for="hotel-category" class="form-label-title">Hotel Category</label>
                    <select
                      id="hotel-category"
                      class="form-control js-example-basic-single col-sm-12"
                    >
                      @for (hotel of details.hotelCategory; track hotel) {
                        <option value="{{ hotel.value }}">{{ hotel.title }}</option>
                      }
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="form-label-title">Facility</label>
                    <tag-input class="form-control" type="text" name="tags" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label-title">Address</label>
                    <input type="text" placeholder="Address" class="form-control" />
                  </div>
                  <div class="row g-3">
                    <div class="col-sm-6">
                      <select class="select form-control">
                        <option disabled selected value="">Country</option>
                        @for (country of details.country; track country) {
                          <option value="{{ country.value }}">{{ country.title }}</option>
                        }
                      </select>
                    </div>
                    <div class="col-sm-6">
                      <select class="select form-control">
                        <option disabled selected value="">State</option>
                        @for (state of details.state; track state) {
                          <option value="{{ state.value }}">{{ state.title }}</option>
                        }
                      </select>
                    </div>
                    <div class="col-sm-6">
                      <select class="select form-control">
                        <option disabled selected value="">City</option>
                        @for (city of details.city; track city) {
                          <option value="{{ city.value }}">{{ city.title }}</option>
                        }
                      </select>
                    </div>
                    <div class="col-sm-6">
                      <input
                        type="text"
                        placeholder="Zip"
                        id="form3Example3"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label-title mt-4">Contact Number</label>
                    <input class="form-control" type="Number" placeholder="Contact Number" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label-title"> Email Address</label>
                    <input class="form-control" type="email" placeholder=" Email address" />
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <label class="form-label-title">Check In</label>
                      <div class="input-group date" id="CheckIn" data-target-input="nearest">
                        <input
                          class="form-control datetimepicker-input digits"
                          placeholder="8:49 AM"
                          [owlDateTime]="checkIn"
                        />
                        <div class="input-group-text" [owlDateTimeTrigger]="checkIn">
                          <i class="fa fa-clock-o"></i>
                        </div>
                        <owl-date-time [pickerType]="'timer'" #checkIn />
                      </div>
                    </div>
                    <div class="col-6">
                      <label class="form-label-title">Check Out</label>
                      <div class="input-group date" id="CheckOut" data-target-input="nearest">
                        <input
                          class="form-control datetimepicker-input digits"
                          placeholder="8:49 AM"
                          [owlDateTime]="checkOut"
                        />
                        <div class="input-group-text" [owlDateTimeTrigger]="checkOut">
                          <i class="fa fa-clock-o"></i>
                        </div>
                        <owl-date-time [pickerType]="'timer'" #checkOut />
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!--Hotel detail end-->
          </div>
        </div>
      </div>
    </div>

    <!--room detail start-->
    <div class="container-fluid">
      <app-room-details [roomDetails]="details" />
    </div>
    <!--room detail end-->
  }
}
