<div class="card">
  <div class="card-header">
    <h5>Reviews</h5>
  </div>
  <div class="card-body">
    @for (details of review; track details) {
      <div class="review-users">
        <div class="review-users__img">
          <img [src]="details.image" alt="review 1" />
        </div>
        <div class="review-users__detail">
          <div class="review-users__box">
            <h5>{{ details.name }}</h5>
            <span>{{ details.totalReview }} review</span>
          </div>
          <div class="star-box mt-3">
            <span>
              <ngb-rating [rate]="details.rating" />
            </span>
            <p class="ms-3">{{ details.time }}</p>
          </div>
          <p>{{ details.review }}</p>
        </div>
      </div>
    }
  </div>

  <div class="pagination-box">
    <app-pagination />
  </div>
</div>
