@if (type() === 'about') {
  <div class="hotel_title_section">
    <div class="hotel-name">
      <div class="left-part">
        <div class="top">
          <h2>sea view hotel</h2>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
        </div>
        <p>Mina Road, Bur Dubai, Dubai, United Arab Emirates</p>
      </div>
    </div>
  </div>
}

@if (type() === 'image-slider') {
  <div class="row">
    <div class="col-12">
      <div class="responsive arrow-dark zoom-gallery ratio2_3">
        <owl-carousel-o [options]="options">
          @for (details of images(); track details) {
            <ng-template carouselSlide>
              <div>
                <a
                  href="javascript:void(0)"
                  class="bg-size"
                  [style.background-image]="'url(' + details.image + ')'"
                >
                  <img
                    [src]="details.image"
                    class="img-fluid blur-up lazyload bg-img w-100"
                    alt="hotel-image"
                    style="display: none"
                  />
                </a>
              </div>
            </ng-template>
          }
        </owl-carousel-o>
      </div>
    </div>
  </div>
}
