<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header all-user-card card-header--2">
        <div>
          <h5>All Users</h5>
        </div>
        <form class="d-inline-flex">
          <a
            href="javascript:void(0)"
            class="align-items-center btn btn-theme"
            [routerLink]="['/user/add-new-user']"
          >
            <app-feather-icons [icon]="'plus-square'" />Add New
          </a>
        </form>
      </div>

      <div class="card-body">
        <div>
          <div class="table-responsive table-desi">
            <table class="user-table table table-striped">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Country</th>
                  <th>Listings</th>
                  <th>View</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                @for (details of users; track details) {
                  <tr>
                    <td>
                      <span><img [src]="details.userProfile" alt="users" /></span>
                    </td>
                    <td>
                      <a href="javascript:void(0)"
                        ><span class="d-block">{{ details.userName }}</span
                        ><span>{{ details.subTitle }}</span></a
                      >
                    </td>
                    <td>{{ details.phone }}</td>
                    <td>
                      {{ details.email }}
                    </td>
                    <td class="font-primary">{{ details.country }}</td>
                    <td>
                      <span>02</span>
                    </td>
                    <td>
                      <a href="javascript:void(0)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </td>
                    <td>
                      <a href="javascript:void(0)"
                        ><i class="fa fa-pencil-square-o" aria-hidden="true"></i
                      ></a>
                    </td>
                    <td>
                      <a href="javascript:void(0)"
                        ><i class="fa fa-trash-o" aria-hidden="true"></i
                      ></a>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="pagination-box">
        <app-pagination />
      </div>
    </div>
  </div>
</div>
