<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Room Details</h5>
          </div>
          <div class="card-body">
            <form class="theme-form mega-form">
              <div class="mb-3">
                <label class="form-label-title">Room Category</label>
                <select class="form-control js-example-basic-single col-sm-12">
                  @for (room of roomDetails()?.roomCategory; track room) {
                    <option value="{{ room.value }}">{{ room.title }}</option>
                  }
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label-title">Room Price</label>
                <div class="input-group mb-3">
                  <span class="input-group-text">$ </span>
                  <input
                    class="form-control"
                    placeholder="200"
                    type="text"
                    aria-label="Amount (to the nearest dollar)"
                  />
                </div>
              </div>
              <div class="animate-chk">
                <div class="row g-2">
                  <div class="col-xl-12 col-xxl-6">
                    <label class="form-label-title">Room Inclusion</label>
                    <div class="row g-3">
                      @for (facility of roomDetails()?.roomInclusion; track facility) {
                        @for (details of facility.data; track details) {
                          <div class="col-xs-12 col-sm-6">
                            <label class="d-block" for="{{ details.value }}">
                              <input
                                class="checkbox_animated"
                                id="{{ details.value }}"
                                type="checkbox"
                                [checked]="details.checked"
                              />{{ details.title }}
                            </label>
                          </div>
                        }
                      }
                    </div>
                  </div>
                  <div class="col-xl-12 col-xxl-6">
                    <label class="form-label-title">Room Amenities</label>
                    <div class="row g-3">
                      @for (facility of roomDetails()?.roomAmenities; track facility) {
                        @for (details of facility.data; track details) {
                          <div class="col-xs-12 col-sm-6">
                            <label class="d-block" for="{{ details.value }}">
                              <input
                                class="checkbox_animated"
                                id="{{ details.value }}"
                                type="checkbox"
                                [checked]="details.checked"
                              />{{ details.title }}
                            </label>
                          </div>
                        }
                      }
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label-title mt-4">Upload Room Image here </label>
                  <dropzone
                    [config]="config"
                    [message]="text"
                    class="custom-dropzone"
                    (error)="onUploadError($event)"
                    (success)="onUploadSuccess($event)"
                  />
                </div>
                <label class="form-label-title">Room Description</label>
                <div class="NgxEditor__Wrapper">
                  <ngx-editor-menu [editor]="editor" />
                  <ngx-editor
                    [editor]="editor"
                    [ngModel]="html"
                    [disabled]="false"
                    name="editorContent"
                    [placeholder]="'Type here...'"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer text-end">
            <button class="btn btn-primary me-3">Submit</button>
            <button class="btn btn-outline-primary">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
