<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Add New Menu</h5>
          </div>
          <div class="card-body">
            <form class="theme-form mega-form">
              <div class="mb-3">
                <label class="form-label-title">Menu Name</label>
                <input class="form-control" type="text" placeholder="Menu Name" />
              </div>

              <div class="mb-3">
                <label for="menu-type" class="form-label-title">Menu Type</label>
                <select id="menu-type" class="js-example-basic-single col-sm-12">
                  <option value="ST">Static Menu</option>
                  <option value="AL">A La Carte</option>
                  <option value="DU">Du Jour</option>
                  <option value="CY">Cycle Menu</option>
                  <option value="TA">Table d'Hote</option>
                  <option value="TA">Tasting Menu</option>
                  <option value="DE">Dessert</option>
                  <option value="WI">Wine Captain's Book</option>
                  <option value="CH">Children's</option>
                </select>
              </div>

              <div class="mb-3">
                <label class="form-label-title">Ingredients </label>
                <tag-input class="form-control" type="text" name="tags" />
              </div>

              <div class="mb-3">
                <label class="form-label-title">item Price</label>
                <div class="input-group mb-3">
                  <span class="input-group-text">$ </span>
                  <input
                    class="form-control"
                    placeholder="$200"
                    type="text"
                    aria-label="Amount (to the nearest dollar)"
                  />
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label-title">Upload item Image here </label>
                <dropzone
                  [config]="config"
                  [message]="text"
                  class="custom-dropzone"
                  (error)="onUploadError($event)"
                  (success)="onUploadSuccess($event)"
                />
              </div>
            </form>
          </div>
          <div class="card-footer text-end">
            <button class="btn btn-primary me-3">Submit</button>
            <button class="btn btn-outline-primary">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
