<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header card-header--2">
        <div>
          <h5>All Packages</h5>
        </div>
        <form class="d-inline-flex">
          <a
            href="javascript:void(0)"
            class="btn btn-theme"
            [routerLink]="['/tour/add-new-package']"
          >
            <app-feather-icons [icon]="'plus-square'" />Add New
          </a>
        </form>
      </div>

      <div class="card-body">
        <div>
          <div class="table-responsive table-desi">
            <table class="table table-striped all-package">
              <thead>
                <tr>
                  <th>Tour Image</th>
                  <th>Tour Name</th>
                  <th>Price</th>
                  <th>No. Of Days</th>
                  <th>View</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                @for (details of tourCategory; track details) {
                  <tr>
                    <td>
                      <span><img [src]="details.categoryImage" alt="users" /></span>
                    </td>
                    <td>
                      <a href="javascript:void(0)">{{ details.categoryTitle }}</a>
                    </td>
                    <td>${{ details.discountPrice }}</td>
                    <td>{{ details.days }} days</td>
                    <td>
                      <a href="javascript:void(0)" [routerLink]="['/tour/package-detail']"
                        ><i class="fa fa-eye" aria-hidden="true"></i
                      ></a>
                    </td>
                    <td>
                      <a href="javascript:void(0)"
                        ><i class="fa fa-pencil-square-o" aria-hidden="true"></i
                      ></a>
                    </td>
                    <td>
                      <a href="javascript:void(0)"
                        ><i class="fa fa-trash-o" aria-hidden="true"></i
                      ></a>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="pagination-box">
        <app-pagination />
      </div>
    </div>
  </div>
</div>
