<div class="media profile-media" (click)="toggle()">
  <img class="user-profile rounded-circle" src="assets/images/users/4.jpg" alt="profile-picture" />
  <div class="user-name-hide media-body">
    <span>Emay Walter</span>
    <p class="mb-0 font-roboto">Admin <i class="middle fa fa-angle-down"></i></p>
  </div>
</div>
<ul class="profile-dropdown onhover-show-div" [class.active]="isActive">
  <li>
    <a href="javascript:void(0)">
      <app-feather-icons [icon]="'user'" />
      <span>Account </span></a
    >
  </li>
  <li>
    <a href="javascript:void(0)"><app-feather-icons [icon]="'mail'" /><span>Inbox</span></a>
  </li>
  <li>
    <a href="javascript:void(0)"
      ><app-feather-icons [icon]="'file-text'" /><span>Taskboard</span></a
    >
  </li>
  <li>
    <a href="javascript:void(0)"><app-feather-icons [icon]="'settings'" /><span>Settings</span></a>
  </li>
  <li>
    <a href="javascript:void(0)" (click)="logout()"
      ><app-feather-icons [icon]="'log-out'" /><span>Log out</span></a
    >
  </li>
</ul>
