<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header card-header--2">
        <div>
          <h5 class="all-package-heding5">All Package Categories</h5>
        </div>
        <form class="d-inline-flex">
          <a
            href="javascript:void(0)"
            class="btn btn-theme"
            [routerLink]="['/tour/add-package-category']"
          >
            <app-feather-icons [icon]="'plus-square'" />Add New
          </a>
        </form>
      </div>

      <div class="card-body">
        <div>
          <div class="table-responsive table-desi">
            <table class="all-package-catogories table table-striped">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Category Name</th>
                  <th>No. Of Tours</th>
                  <th>Total Days</th>
                  <th>Edit</th>

                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                @for (details of packageDetail; track details) {
                  <tr>
                    <td>{{ details.id }}</td>
                    <td>{{ details.categoryName }}</td>
                    <td>{{ details.tours }}</td>
                    <td>{{ details.days }} Days</td>
                    <td>
                      <a href="javascript:void(0)"
                        ><i class="fa fa-pencil-square-o" aria-hidden="true"></i
                      ></a>
                    </td>
                    <td>
                      <a href="javascript:void(0)"
                        ><i class="fa fa-trash-o" aria-hidden="true"></i
                      ></a>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="pagination-box">
        <app-pagination />
      </div>
    </div>
  </div>
</div>
